@media all and (max-width: 61.87em) {
  .body.costas {
    background-size: cover;
    & .mainBody {
      margin-top: 5rem;
      & .container {
        & .maquinas {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          gap: 1.8rem;

          & .img-maquinas {
            align-self: center;
            grid-column: 1;
            grid-row: 1 / span 2;
            & img {
            }
          }
        }

        & .informacoes {
          max-width: 100%;
          gap: 1rem;
          padding: 0;
          grid-column: 2;
          grid-row: 1;
          & .title {
            font-size: 2rem;
            line-height: 1;
          }

          & .separar {
            gap: 0.6rem;
          }

          & .infos {
            & .h3 {
              font-size: 1.5rem;
            }
            & .info {
              font-size: 1.4rem;
            }
          }
        }

        & .exercicios {
          max-width: 100%;
          gap: 1rem;
          grid-column: 2;
          grid-row: 2;

          & .title {
            font-size: 2rem;
          }

          & ul li {
            font-size: 1.4rem;
            padding-bottom: 0rem;
          }
        }
      }
    }
  }
}
