* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #373b3c;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100svh;
}

.h1 {
  font-size: 3.2rem;
}
.paragrafo {
  font-size: 2.4rem;
}

.button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--cor-fundo);
  color: var(--clara);
  position: relative;
  cursor: pointer;
  width: 30rem;
  height: 5rem;
  overflow: hidden;
  transition: 0.3s;

  &:hover::before {
    transition-duration: 0.3s;
    transform: translate(100%, -50%);
    border-radius: 0;
  }

  &:active {
    transform: translate(5px, 5px);
    transition-duration: 0.3s;
    color: aliceblue;
  }

  &::before {
    content: '';
    width: 30rem;
    height: 30rem;
    position: absolute;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    left: -100%;
    top: 0;
    border-radius: 50%;
  }
}
